{% extends "index.html" %}
{% block body %}

<div class="column" class="container col-sm-4", align="left">
<div class="form-group", align="left"> <h3> Choose Datalogger</h3> 

</div></div>

<div class="row" class="container col-sm-20", align="left">
<form method="POST" action="/site/_AGBSB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >AGBSB</button>
</form>
<form method="POST" action="/site/_AGBTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >AGBTA</button> 
</form>
<form method="POST" action="/site/_BAKG" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BAKG</button> 
</form>
<form method="POST" action="/site/_BAKTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BAKTA</button> 
</form>
<form method="POST" action="/site/_BAKTB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BAKTB</button>
</form>
<form method="POST" action="/site/_BAKTC" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BAKTC</button>
</form>
<form method="POST" action="/site/_BANTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BANTA</button> 
</form>
<form method="POST" action="/site/_BANTB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BANTB</button> 
</form>
<form method="POST" action="/site/_BARSC" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BARSC</button> 
</form>
<form method="POST" action="/site/_BARTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BARTA</button>
</form>
<form method="POST" action="/site/_BARTB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BARTB</button>
</form>
<form method="POST" action="/site/_BAYG" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BAYG</button> 
</form>
<form method="POST" action="/site/_BAYSB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BAYSB</button> 
</form>
<form method="POST" action="/site/_BAYTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BAYTA</button> 
</form>

<form method="POST" action="/site/_BAYTC" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BAYTC</button>
</form>
<form method="POST" action="/site/_BLCPZ" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BLCPZ</button> 
</form>
<form method="POST" action="/site/_BLCSB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BLCSB</button> 
</form>
<form method="POST" action="/site/_BLCTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BLCTA</button> 
</form>
<form method="POST" action="/site/_BOLRA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BOLRA</button>
</form>
<form method="POST" action="/site/_BOLTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BOLTA</button> 
</form>
<form method="POST" action="/site/_BTOG" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BTOG</button> 
</form>
<form method="POST" action="/site/_BTOTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BTOTA</button>
</form>
<form method="POST" action="/site/_BTOTB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >BTOTB</button> 
</form>
<form method="POST" action="/site/_CARTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >CARTA</button> 
</form>
<form method="POST" action="/site/_CARTC" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >CARTC</button> 
</form>
<form method="POST" action="/site/_CARTD" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >CARTD</button> 
</form>
<form method="POST" action="/site/_CUDTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >CUDTA</button>
</form>
<form method="POST" action="/site/_CUDTB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >CUDTB</button> 
</form>
<form method="POST" action="/site/_DADRA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >DADRA</button> 
</form>

<form method="POST" action="/site/_DADTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >DADTA</button>
</form>
<form method="POST" action="/site/_DADTB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >DADTB</button> 
</form>
<form method="POST" action="/site/_GAASA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >GAASA</button> 
</form>
<form method="POST" action="/site/_GAATC" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >GAATC</button> 
</form>
<form method="POST" action="/site/_GAMB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >GAMB</button>
</form>
<form method="POST" action="/site/_GAMRA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >GAMRA</button>
</form>
<form method="POST" action="/site/_GAMT" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >GAMT</button> 
</form>
<form method="POST" action="/site/_HINSA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >HINSA</button> 
</form>
<form method="POST" action="/site/_HINSB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >HINSB</button>
</form>
<form method="POST" action="/site/_HUMB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >HUMB</button> 
</form>
<form method="POST" action="/site/_HUMT" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >HUMT</button> 
</form>
<form method="POST" action="/site/_IMERA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >IMERA</button> 
</form>
<form method="POST" action="/site/_IMESB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >IMESB</button>
</form>
<form method="POST" action="/site/_IMETA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >IMETA</button> 
</form>
<form method="POST" action="/site/_IMUG" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >IMUG</button> 
</form> 

<form method="POST" action="/site/_IMUTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >IMUTA</button>
</form>
<form method="POST" action="/site/_IMUTD" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >IMUTD</button> 
</form>
<form method="POST" action="/site/_IMUTE" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >IMUTE</button> 
</form>
<form method="POST" action="/site/_INAG" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >INAG</button> 
</form>
<form method="POST" action="/site/_INATA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >INATA</button>
</form>
<form method="POST" action="/site/_INATB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >INATB</button> 
</form>
<form method="POST" action="/site/_INATC" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >INATC</button> 
</form>
<form method="POST" action="/site/_INAXA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >INAXA</button>
</form>
<form method="POST" action="/site/_JORTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >JORTA</button> 
</form>
<form method="POST" action="/site/_LABB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >LABB</button> 
</form>
<form method="POST" action="/site/_LABT" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >LABT</button> 
</form>
<form method="POST" action="/site/_LAYSA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >LAYSA</button>
</form>
<form method="POST" action="/site/_LAYSB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >LAYSB</button>
</form>
<form method="POST" action="/site/_LIPB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >LIPB</button> 
</form>
<form method="POST" action="/site/_LIPRA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >LIPRA</button> 
</form>

<form method="POST" action="/site/_LIPT" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >LIPT</button>
</form>
<form method="POST" action="/site/_LOOTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >LOOTA</button> 
</form>
<form method="POST" action="/site/_LOOTB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >LOOTB</button> 
</form>
<form method="POST" action="/site/_LPASA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >LPASA</button>
</form>
<form method="POST" action="/site/_LPASB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >LPASB</button> 
</form>
<form method="POST" action="/site/_LTEG" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >LTEG</button> 
</form>
<form method="POST" action="/site/_LTESA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >LTESA</button>
</form>
<form method="POST" action="/site/_LTETB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >LTETB</button> 
</form>
<form method="POST" action="/site/_LUNG" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >LUNG</button> 
</form>
<form method="POST" action="/site/_LUNTC" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >LUNTC</button> 
</form>
<form method="POST" action="/site/_LUNTD" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >LUNTD</button>
</form>
<form method="POST" action="/site/_MAGG" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >MAGG</button> 
</form>
<form method="POST" action="/site/_MAGTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >MAGTA</button> 
</form>

<form method="POST" action="/site/_MAGTB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >MAGTB</button>
</form>
<form method="POST" action="/site/_MAGTE" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >MAGTE</button> 
</form>
<form method="POST" action="/site/_MAMTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >MAMTA</button> 
</form>
<form method="POST" action="/site/_MAMTB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >LOOTB</button> 
</form>
<form method="POST" action="/site/_MARG" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >MARG</button>
</form>
<form method="POST" action="/site/_MARTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >MARTA</button> 
</form>
<form method="POST" action="/site/_MARTB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >MARTB</button> 
</form>
<form method="POST" action="/site/_MCATA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >MCATA</button>
</form>
<form method="POST" action="/site/_MNGSA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >MNGSA</button> 
</form>
<form method="POST" action="/site/_MNGTB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >MNGTB</button> 
</form>
<form method="POST" action="/site/_MSLG" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >MSLG</button> 
</form>
<form method="POST" action="/site/_MSLTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >MSLTA</button> 
</form>
<form method="POST" action="/site/_MSUTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >MSUTA</button> 
</form>
<form method="POST" action="/site/_NAGTB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >NAGTB</button> 
</form>
<form method="POST" action="/site/_NURTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >NURTA</button>
</form>
<form method="POST" action="/site/_NURTB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >NURTB</button> 
</form>

<form method="POST" action="/site/_OSLB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >OSLB</button>
</form>
<form method="POST" action="/site/_PARTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >PARTA</button> 
</form>
<form method="POST" action="/site/_PARTB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >PARTB</button> 
</form>
<form method="POST" action="/site/_PEPG" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >PEPG</button> 
</form>
<form method="POST" action="/site/_PEPSB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >PEPSB</button>
</form>
<form method="POST" action="/site/_PEPTC" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >PEPTC</button> 
</form>
<form method="POST" action="/site/_PINRA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >PINRA</button> 
</form>
<form method="POST" action="/site/_PLAB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >PLAB</button>
</form>
<form method="POST" action="/site/_PLAT" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >PLAT</button> 
</form>
<form method="POST" action="/site/_PNGTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >PNGTA</button> 
</form>
<form method="POST" action="/site/_PUGRA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >PUGRA</button> 
</form>
<form method="POST" action="/site/_SAGTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >SAGTA</button> 
</form>
<form method="POST" action="/site/_SAGTB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >SAGTB</button> 
</form>
<form method="POST" action="/site/_SIBTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >SIBTA</button> 
</form>
<form method="POST" action="/site/_SINSA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >SINSA</button>
</form>
<form method="POST" action="/site/_SINTB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >SINTB</button> 
</form>
<form method="POST" action="/site/_SINNA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >SINNA</button> 
</form>
<form method="POST" action="/site/_SINNB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >SINNB</button> 
</form>
<form method="POST" action="/site/_SINUAR" >  
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >SINUAR</button> 
</form>
<form method="POST" action="/site/_SUMTA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >SUMTA</button>
</form>
<form method="POST" action="/site/_SUMTC" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >SUMTC</button> 
</form>
<form method="POST" action="/site/_TALRA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >TALRA</button> 
</form>
<form method="POST" action="/site/_TALSA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >TALSA</button> 
</form>
<form method="POST" action="/site/_TALTB" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >TALTB</button>
</form>
<form method="POST" action="/site/_TGATA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >TGATA</button> 
</form>
<form method="POST" action="/site/_UMITA" > 
<button class="btn-link disabled btn-lg" style="height:75px;width:150px" type="submit" class="button button1" >UMITA</button> 
</form>


</dv>
            
{% endblock %}

</dv>
</body>
</html>